<div>
                <div id="verticalCategory" class="visible-xs">
                    <a>
                        <div>All Spirits</div>
                    </a>
                    <a>
                        <div>Whiskey</div>
                    </a>
                    <a>
                        <div>Tequila/Mezcal</div>
                    </a>
                    <a>
                        <div>Rum</div>
                    </a>
                    <a>
                        <div>Brandy</div>
                    </a>
                    <a>
                        <div>Gin</div>
                    </a>
                </div>
                <div id="horizontalCategory" class="hidden-xs">
                    <ul>
                        <li><a>All Spirits</a></li>
                        <li><a>Whiskey</a></li>
                        <li><a>Tequila/Mezcal</a></li>
                        <li><a>Rum</a></li>
                        <li><a>Brandy</a></li>
                        <li><a>Gin</a></li>
                    </ul>
                </div>
            </div>
            <div id="newsBackground">
                <div id="news" class="container">
                </div>
            </div>
            <hr>
            <div id="recentlyReviewed">
                <h1>RECENTLY REVIEWED</h1>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="../images/maryland_club_straight_bourbon_large.jpg">
                            <h3>Maryland Club Straight Bourbon</h3>
                            <h3>78</h3>
                            <p>Warm amber in color the bourbon has a strong cooked cereal presence on the nose. Honey, grass, caramel, and orange zest are present on the palate with a spiced apple finish. Notes of cinnamon and clove linger in the bourbon’s earthy finish.</p>
                            <div class="userReview">
                                <img src="../images/gadot.jpg">
                                <span>Review by: htson</span>
                            </div>
                        </div>
                        <div class="col-md-4 hidden-xs hidden-sm">
                            <img src="../images/feisty_spirits_blue_corn_bourbon_large.jpg">
                            <h3>Feisty Spirits Blue Corn Bourbon</h3>
                            <h3>81</h3>
                            <p>Deep amber with hints of ruby in color. Very soft honey nose with subtle rye characteristics. Rye spice is evident on the initial attack with notes of orange, dark chocolate, and burnt caramel.</p>
                            <div class="userReview">
                                <img src="../images/gadot.jpg">
                                <span>Review by: htson</span>
                            </div>
                        </div>
                        <div class="col-md-4 hidden-xs hidden-sm">
                            <img src="../images/mosswood_nocino_barrel_aged_american_whiskey_large.jpg">
                            <h3>Mosswood Nocino Barrel-Aged American Whiskey</h3>
                            <h3>90</h3>
                            <p>Mosswood's unique barrel finishes are always interesting, and the nocino finish is no exception. The light whiskey is well-suited to picking up nuances of the walnut spirit: a mild green note on the aroma, a roasty flavor, and a hint of complementary...</p>
                            <div class="userReview">
                                <img src="../images/gadot.jpg">
                                <span>Review by: htson</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>