<div class="register">
    <div class="col-md-10 col-xs-10 col-sm-10 col-md-offset-1">
        <div>
            <h1 class="headerRegister">
                REGISTER
            </h1>
        </div>
        <div class="col-md-5 col-xs-12 col-sm-5">
            <div class="groupButtonRegister">
                <button class="buttonFbRegister">SIGN UP WITH FACEBOOK</button>
                <button class="buttonTwRegister">SIGN UP WITH TWITTER</button>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 col-sm-6 col-sm-offset-1  col-md-offset-1">
            <form class="inputGroupRegister">
                <h5 class="anotherAcc">
                        OR CREATE AN ACCOUNT WITH EMAIL
                    </h5>
                <div class="inputGroupEmailRegister ">
                    <p class="labelForm">EMAIL</p>
                    <input id="inputEmail" placeholder="Where we can reach you...">
                </div>
                <div class="inputGroupEmailRegister ">
                    <p class="labelForm">USERNAME</p>
                    <input id="inputUsername" placeholder="Whatever you want...">
                </div>
                <div class="inputGroupEmailRegister ">
                    <p class="labelForm">PASSWORD</p>
                    <input id="inputPassword" placeholder="Something secret...">
                </div>
                <div class="inputGroupEmailRegister ">
                    <p class="labelForm">PASSWORD CONFIRMATION</p>
                    <input id="inputPasswordConfirmation" placeholder="One more time...">
                </div>
                <button class="buttonSignUp">SIGN UP</button>
            </form>
        </div>
    </div>
</div>
