.register  {
    background: #070605;
    height: 150vh;

}
.headerRegister{
    color: white;
    line-height: 1.25em;
    font-size: 60px;
    font-family: myLatoLight;
    font-weight: bold;
    opacity: 0.9;

}
.buttonFbRegister{
    background-color: #2e41ca;
    color: white;
    font-family: Arial;
    font-weight: bold;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    border: 0px;
    font-size: 15px;
    float: left;
    width: 90%;


}
.groupButton{
    margin-top: 8%;
}

.buttonTwRegister{
    background-color: #2D7DDC;
    color: white;
    font-family: Arial;
    font-weight: bold;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;

    border: 0px;
    font-size: 15px;
    float: left;
    width: 90%;

    margin-top: 8%;
}
.buttonTwRegister:hover{
    color: #2D7DDC;
    background-color: white;
}
.buttonFbRegister:hover{
    color: #2e41ca;
    background-color: white;
}
.anotherAcc{
    color: white;
    line-height: 1.25em;

    font-family: myLatoLight;
    font-weight: bold;
    margin:0px;

}
.labelForm{
    color: white;
    line-height: 1.25em;
    margin-top: 3%;
    font-family: myLatoLight;
    font-weight: bold;
}

#inputEmail{
    width: 90%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 4%;
    background-color: #292929;
    border: 0px;
    color: #9b9b9b;
}

#inputPassword{
    width: 90%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 4%;
    background-color: #292929;
    border: 0px;
    color: #9b9b9b;
}
#inputUsername{
    width: 90%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 4%;
    background-color: #292929;
    border: 0px;
    color: #9b9b9b;
}
#inputPasswordConfirmation{
    width: 90%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 4%;
    background-color: #292929;
    border: 0px;
    color: #9b9b9b;
}

.inputGroupEmailRegister{
    margin-top: 4%;
}
.inputGroupRegister input:focus, .inputGroupEmailRegister input:focus{
    outline:0px !important;
}
.buttonSignUp{
    background-color: #F05A41;
    color: white;
    font-family: myLatoRegular;
    font-weight: bold;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    text-align: center;
    padding-left: 6%;
    padding-right: 6%;
    border: 2px solid;
    font-size: 14px;
    float: left;
    width: 42%;
    margin-top: 5%;
}
.buttonSignUp:hover{
    color: black;
    background-color: white;
    font-weight: bolder;
}
@font-face {
    font-family: myLatoRegular;
    src: url(Lato-Regular.ttf);
}
@font-face {
    font-family: myLatoLight;
    src: url(Lato-Light.ttf);
}
