
.signIn{
    background: #070605;
    height: 100vh;

}
.header{
    color: white;
    line-height: 1.25em;
    font-size: 70px;
    font-family: myLatoLight;
    font-weight: bold;
    opacity: 0.9;
}
.memberAccess{
    color: white;
    font-family: myLatoLight;
    font-weight: bold;

    margin-top: 12%;

}
.formInput{
    margin:0px !important;
    padding:0px !important;
}
.inputGroup{
    width: 100%;
}
#inputEmail{
    width: 74%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 4%;
    background-color: #292929;
    border: 0px;
    color: #9b9b9b;
}

#inputPassword{
    width: 74%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 4%;
    background-color: #292929;
    border: 0px;
    color: #9b9b9b;
}
.inputGroup{
    margin-top: 5%;
}
.inputGroupEmail{
    margin-top: 8%;
}
.buttonSignIn{
    background-color: #F05A41;
    color: white;
    font-family: myLatoRegular;
    font-weight: bold;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    text-align: center;
    padding-left: 6%;
    padding-right: 6%;
    border: 2px solid;
    font-size: 14px;
    float: left;
    width: 35%;
}
.buttonSignIn:hover{
    color: black;
    background-color: white;
    font-weight: bolder;
}
#forgetPassword{
    font-size: 16px;
    margin-left: 5%;
    margin-top: 2%;
    float: left;
    font-family: myLatoRegular;
    font-weight: bold;
    color: #9b9b9b;
    text-decoration: underline;
}
#forgetPassword:hover{
    color: #F05A41;

}

.otherMediaGroup{
    clear:both;
    margin-top: 25%;
}

.inputGroup input:focus, .inputGroupEmail input:focus{
    outline:0px !important;
}

.buttonFb{
    background-color: #2e41ca;
    color: white;
    font-family: Arial;
    font-weight: bold;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    border: 0px;
    font-size: 14px;
    float: left;
    width: 35%;
}
.buttonTw{
    background-color: #2D7DDC;
    color: white;
    font-family: Arial;
    font-weight: bold;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 3%;
    border: 0px;
    font-size: 14px;
    float: left;
    width: 35%;
}
.buttonTw:hover{
    color: #2D7DDC;
    background-color: white;
}
.buttonFb:hover{
    color: #2e41ca;
    background-color: white;
}
.joinDistiller{
    color: white;
    font-family: myLatoLight;
    font-weight: bold;
    margin-top: 50%;
    font-size: 18px;

}
.vertical-line{
    margin-top: 120%;
    width: 3px; /* Line width */
    background-color: white; /* Line color */
    height: 100%; /* Override in-line if you want specific height. */
    float: left;
    height: 330px;
    padding: 0px !important;
}
.createAccount{
    color: white;
    font-family: myLato;
    font-weight: bold;
    margin-top: 8%;
    font-size: 18px;
}
.listAdvantage{
    color: white;
    font-family: myLato;
    font-weight: bold;
    margin-top: 5%;
    padding-left: 5%;
    font-size: 18px;
    list-style: none;
    padding: 0px;
}
.createButton{
    background-color: #070605;
    color: white;
    font-family: myLatoRegular;
    font-weight: bold;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    text-align: center;
    margin-top: 4%;
    border: 2px solid;
    font-size: 14px;
    float: left;
    width: 70%;
}
.createButton:hover{
    color: #F05A41;
    border: 2px #F05A41 solid;
}

.line{
    padding: 0px !important;
}
#otherTitle{
    color: white;
    font-family: myLatoRegular;
}
@font-face {
    font-family: myLatoRegular;
    src: url(Lato-Regular.ttf);
}
@font-face {
    font-family: myLatoLight;
    src: url(Lato-Light.ttf);
}

